                   /* Recomendeted Style Section */

 .poppins-font{
 font-family: "Poppins", serif;
 font-weight: 400;
 font-style: normal;
 }  
                                    
.bg-color{
    background-color: rgba(28, 30, 83, 1);
}
.display-flex{
    display: flex;
}
body{
    margin: 0;
} 




                   /* Header Section Style*/

/* Navbar section style */
.container{
    max-width: 1280px;
    margin: 0 auto;
     justify-content: space-between;
     align-items: center;
  }                  
  .container .logo>h2{
     font-size: 1.9rem;
     font-weight: 700;
     color: white;
  } 
  .nav-list{
     gap: 35px;
  }
  .nav-item{
     list-style: none;
  } 
  #main-nav-item{
     color: white;
  }
  .nav-link{
     text-decoration: none;
     color: rgba(187, 187, 203, 1);
  }   
  .contact-button{
     color: white;
     font-size: 1rem;
     font-weight: 500;
     border: 2px solid rgba(244, 246, 252, 0.37);
     margin-left: 35px;
     padding: 0px 50px;
     border-radius: 41px;
  }  
  .contact-button:hover{
    background-color: aquamarine;
    color: black;
    padding: 1px 55px;
    font-size: 1.01rem;
  } 
  
  
 /* Banner section style */
 .banner{
    max-width: 1280px;
    margin: 0 auto;
  }
  .banner-container{
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 40px;
 
  }
  
 .hero-text {
    max-width: 582px;
 }
 
 .hero-text h1 {
    font-size: 3.3rem;
    font-weight: 600;
    color: white;
 }
 
 .hero-text p {
    font-size: 1rem;
    font-weight: 500;
    color: #c6c5c5;
 }
 .hero-buttons{
    margin-top: 35px;
 }
 .btn-primary{
    padding: 11px 40px;
    margin-right: 25px;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: Manrope;
    text-decoration: none;
    color: #1c1f4a;
    background-color: #FCD980;
    border: none;
    border-radius: 25px;
    /* transition: transform 2s; */
 }
 .btn-primary:hover{
    background-color: aquamarine;
    color: black;
 }
 
 .btn-secondary{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1rem;
 }
 .btn-secondary:hover{
    font-size: 1.1rem;
 }
 
 .hero-image {
    max-width: 683px;
    margin-top: 90px;
 }
 
 .hero-image img {
    width: 100%;
    max-height: 320px;
 }


                    /* Main Section Style*/


/* Work Section Style */
.how-we-work{
    background-color: #F4F6FC;
    gap: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 }
 .work-container{
    max-width: 1280px;
    margin: 0 auto;
    gap: 40px;
    background-color: #F4F6FC;
    padding-bottom: 150px;
 }
 
 .work-left {
    max-width: 405px;
    height: 184px;
    margin-top: 80px;
 } 
 
 .work-left h2 {
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 600;
    color: #282938;
    margin-bottom: 20px;
 }
 
 .work-left p {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    color: #282938;
    opacity: 70%;
    margin-bottom: 20px;
 }
 
 .work-left a {
    color: #2405F2;
    text-decoration: none;
    font-family: Poppins;
    font-size: 1.1rem;
    font-weight: 500;
 }
 
 
 .work-right {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 100px;
    margin-left: 50px;
 }
 .work-step{
    
    color: #7f85ab;
    max-width: 328px;
    max-height: 178px;
    padding: 25px 5px;
    border-radius: 5px;
    
 }
 
 .work-step h3{
     font-family: Poppins;
     font-size: 2.12rem;
     font-weight: 500;
     color: #282938;
     margin: 12px 0;
 }
 
 .work-step p{
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(40, 41, 56, 1);
 }
 


 /* Project section style */
 

 .project-heading{
    /* max-width: 1280px;
    margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
 
 }
 .project-titel{
    font-size: 3rem;
    font-weight: 600;
    color: rgba(40, 41, 56, 1);
 }
 .project-bar{
    font-size: 1rem;
    align-items: center;
    font-weight: 500;
    color: rgba(40, 41, 56, 1);
 }
 .full-project{
    max-width: 1280px;
    margin: 0 auto;
 }
 .view-project{
 
    display: flex;
    gap: 30px;
 }
 
 .project-bg-img{
    width: 843px;
    height: 600px;
    background-image: url(Images/Card.jpg);
    background-repeat: no-repeat;
 }
 .project-bg-pink-img{
    max-width: 396px;
    height: 600px;
    background-image: url(Images/Rectangle\ 1316.png);
    background-repeat: no-repeat;
 }
 .pink-project-details{
    padding-top: 300px;
    padding-left: 40px;
 }
 .pink-titel{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
 }
 .pimk-description{
    font-size: 1rem;
    font-weight: 500;
    /* line-height: 28px; */
    color: white;
 }
 .pink-bar{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(252, 217, 128, 1);
    /* align-items: center; */
 }
 .pink-bar-icon{
    padding-left: 15px;
 }
 
 .side-box1{
    max-width: 405px;
    height: 284px;
    background-image: url(Images/Rectangle\ 1313.jpg);
 }
 .side-pink-box{
    max-width: 405px;
    height: 284px;
    background-image: url(Images/Rectangle\ 1317.png);
 }
 .side-pink-box-details{
    padding-left: 48px;
    padding-top: 85px;
 }
 .side-box-titel{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
 }
 .side-box-barr{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(252, 217, 128, 1);
 }
 .side-box2{
    max-width: 405px;
    height: 284px;
 }
 .side-box2 > img{
    width: 100%;
 }


 /* Features section style */

 .Features{
   background-color: rgba(244, 246, 252, 1);
 }
 .Features-headding{
   max-width: 630px;
   margin: 0 auto;
   padding-top: 100px;
   text-align: center;
 }
 .Features-head-name{
   font-size: 1rem;
   font-weight: 500;
   color: rgba(40, 41, 56, 1);
 }
 .Features-titel{
   font-size: 3rem;
   font-weight: 600;
   color: rgba(40, 41, 56, 1);
 }
 .Features-boxes{
   max-width: 1280px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   padding-bottom: 100px;
 }
 .Feature-box{
   max-width: 405px;
   height: 316px;
   background-color: rgba(255, 255, 255, 1);
   border-radius: 10px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease;
 }
 .Feature-box:hover{
   transform: translateY(-5px);
 }
 .Feature-box-detail{
   padding: 35px;
 }
 .Feature-box-titel{
   font-size: 1.5rem;
   font-weight: 500;
   color: rgba(40, 41, 56, 1);
 }
 .Feature-box-discription{
   font-size: 1rem;
   font-weight: 400;
   color: rgba(40, 41, 56, 1);
 }



 /* clients-review section style */

 .clients-review{
   max-width: 99%;
   height: 506px;
   margin: 0 auto;
   background-color: rgba(244, 246, 252, 1);
   border: 1px solid rgba(0, 0, 0, 0.2);
 }
 .clients-review-boxes{
   max-width: 1280px;
   margin: 0 auto;
   gap: 100px;
   display: flex;
 }
 .clients-review-box1{
   max-width: 327px;
   height: 184px;
   padding-top: 100px;
 }
 .client-box1-titel{
   font-size: 2.3rem;
   font-weight: 600;
 }
 .client-box1-description{
   font-size: 1rem;
   font-weight: 400;
 }
 .clients-review-box2{
   max-width: 843px;
   height: 248px;
   padding-top: 100px;
 }
 .client-box2-review{
   font-size: 2rem;
   font-weight: 500;
 }
 .client-profile{
   display: flex;
   align-items: center;
 }
 .client-profile-detail{
   max-width: 249px;
 }
 .client-profile-img{
   max-width: 52px;
   height: 52px;
 }
 .client-name{
   font-size: 1.1rem;
   font-weight: 500;
   color: rgba(40, 41, 56, 1);
   padding-left: 20px;
   margin: 10px;
 }
 .client-profetion{
   font-size: 0.8rem;
   font-weight: 500;
   color: rgba(40, 41, 56, 1);
   padding-left: 20px;
   margin: 10px;
 }
 
 

 /* Frequently-section style */
 .faq-section {
   display: flex;
   max-width: 1280px;
   margin: 10px auto;
 }
 .faq-header {
   max-width: 328px;
 }
 .faq-header h2 {
   font-size: 2.4rem;
   font-weight: 600;
   color: #282938;
 }
 .faq-header a {
   font-size: 1.1rem;
   color: #2405F2;
   text-decoration: none;
 }
 .faq-items {
   max-width: 846px;
   padding-left: 85px;
 }
 .faq-item {
   border-bottom: 1px solid #ddd;
 }
 .faq-question {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 0;
   cursor: pointer;
 }
 .faq-question span {
   color: #2405F2;
   font-weight: 500;
   font-size: 1.25rem;
 }
 .faq-question h3 {
   flex: 1;
   font-size: 1.37rem;
   font-weight: 500;
   margin: 0 10px;
   color: #282938;
 }
 .faq-question .toggle {
   font-size: 1.12rem;
   color: #6C63FF;
 }
 .faq-answer {
   padding: 10px 0 15px;
   display: none;
   color: #555;
   font-size: 0.9rem;
 }
 .faq-answer p{
   font-size: 1.12rem;
   font-weight: 400;
 }
 .faq-question.active + .faq-answer {
   display: block;
 }


 /* Building-section style */

 .Building-section{
   display: flex;
   flex-direction: row;
   max-width: 1280px;
   height: 100vh;
   margin: 0 auto;
 }
 
 .left-section {
   max-width: 42%;
   height: 530px;
   background: url(Images/lap.jpg);
   background-repeat:no-repeat ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 60px;
 }
 
 .left-section-bg > h1 {
   font-size: 3.1rem;
   font-weight: 500;
   line-height: 64px;
   margin-bottom: 20px;
   color: rgba(255, 255, 255, 1);
 }
 
 .left-section-bg > p {
   font-size: 1rem;
   max-width: 440px;
   color: rgba(255, 255, 255, 1);
 }
 
 .right-section {
   max-width: 55%;
   height: 550px;
   background-color: #1C1E53;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 50px;

 }
 
 .right-section h2 {
   font-size: 2rem;
   font-weight: 500;
   line-height: 18px;
 }
 
 .right-section p {
   font-size: 1rem;
   font-weight: 400;
   line-height: 28px;
 }
 
 form {
   display: flex;
   flex-direction: column;
 }
 

 form input {
   padding: 15px;
   margin-bottom: 20px;
   border: 1.5px solid #FFFFFF0D;
   color: rgba(244, 246, 252, 1);
   border-radius: 5px;
   font-size: 1.1rem;
   background-color: #1C1E53;
   font-weight: 400;
 }
 
 form button {
   background-color: #FCD980;
   color: #1A2240;
   border: 1.5px solid #FFFFFF0D;
   padding: 12px;
   border-radius: 55px;
   font-size: 1.2rem;
   font-weight: 500;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }
 
 form button:hover {
   background-color:#b49d1a;
 }
 
 .contact-link {
   color: #FFFFFF;
   font-family: Poppins;
   font-size: 1.1rem;
   font-weight: 500;
   margin-top: 20px;
   display: inline-block;
   text-decoration: none;

   text-align: center;
 }
 
 .contact-link:hover {
   color: #d0b51e;
 }
























 @media screen and (max-width: 576px){


.container, 
.nav-list, 
.navbar, 
.work-container, 
.Building-section,
.faq-section{
flex-direction: column;
}
.banner{
max-width: 96%;
}
.banner-container{
padding-top: 25px;
padding-bottom: 15px;
gap: 10px;
}       
.hero-text {
    max-width: 55%;
 }
 
 .hero-text h1 {
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
 }
 .hero-text p {
    font-size: 0.5rem;
    font-weight: 400;
 }
 .hero-buttons{
    margin-top: 0px;
 }
 .btn-primary{
    padding: 3px 8px;
    margin-right: 3px;
    font-size: 0.5rem;
    font-weight: 600;
    border-radius: 25px;
 }
 .btn-secondary{
    font-weight: 400;
    font-size: 0.5rem;
 }
 .pink-bar-icon{
    max-width: 15px;
    margin-left: -12px;
 }
 .hero-image {
    max-width: 40%;
    margin-top: 12px;
 }
 .hero-image img {
    width: 100%;
 }
 .work-container{
    text-align: center;
 }
 .work-left{
   margin-left: 10px;
 }
 .work-right{
    grid-template-columns: repeat(1, 1fr);
 }
 .project-heading{
   padding: 13px;
 }
 .pro-titel{
    font-size: 1.5rem;
    font-weight: 500;
 }
 .project-titel{
    font-size: 1.6rem;
 }
 .project-bar{
    font-size: 0.5rem;
    align-items: center;
 }
 .arrow-img{
    width: 16%;
 }
 .view-project{
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
 }
 .project-bg-img{
    width: 97%;
    height: 380px;
 }
 .project-bg-pink-img{
    width: 60%;
    height: 380px;
 }
 .pink-project-details{
    padding-top: 120px;
    padding-left: 10px;
 }
 .pink-titel{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
 }
 .pimk-description{
    font-size: 0.7rem;
    font-weight: 400;
    color: white;
 }
 .pink-bar{
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(252, 217, 128, 1);
 }
 .side-coloum-box{
   padding-top: 30px;
 }
 .side-box1{
   margin-bottom: 30px;
 }
 .side-box2{
    margin-bottom: 45px;
 }
 .Features-headding{
   padding: 20px;
 }
 .Features-titel{
   font-size: 1.4rem;
   font-weight: 500;
 }
 .Features-boxes{
   display: flex;
   flex-direction: column;
   padding: 15px;
 }
 .clients-review{
   max-width: 98%;
   border: 1px solid rgba(0, 0, 0, 0.2);
 }
 .clients-review-boxes{
   flex-direction: column;
 }
 .clients-review{
   height: 750px;
 }
 .clients-review-box1{
   padding: 35px;
 }
 .client-box1-titel{
   text-align: center;
   align-items: center;
 }
 .client-box1-description{
   text-align: center;
 }
 .clients-review-box2{
   padding: 25px;
 }
 .client-box2-review{
   font-size: 1.4rem;
 }
 .faq-section{
   text-align: center;
   margin: 20px 20px;
 }
 .faq-header{
   text-align: center;
   padding-left: 20px;
 }
 .faq-items {
   margin-top: 70px;
   padding-left: 5px;
 }
 .faq-question span {
   font-size: 1.2rem;
 }
 .faq-question h3 {
   flex: 1;
   font-size: 1.3rem;
   font-weight: 400;
 }
 .faq-question .toggle {
   font-size: 1.1rem;
   color: #6C63FF;
 }
 .faq-answer {
   padding: 10px 0 15px;
   display: none;
   color: #555;
   font-size: 0.8rem;
 }
 .faq-answer p{
   font-size: 1rem;
   font-weight: 400;
 }
 .left-section {
   max-width: 98%;
   margin: 0 auto;
   padding: 20px;
 }
 .right-section {
   max-width: 98%;
   margin: 0 auto;
   padding: 20px;
 }
 
 
  

 }
 