                   /* Recomendeted Style Section */

 .poppins-font{
 font-family: "Poppins", serif;
 font-weight: 400;
 font-style: normal;
 }  
                                    
.bg-color{
    background-color: rgba(28, 30, 83, 1);
}
.display-flex{
    display: flex;
}
body{
    margin: 0;
} 