                   /* Recomendeted Style Section */

 .poppins-font{
 font-family: "Poppins", serif;
 font-weight: 400;
 font-style: normal;
 }  
                                    
.bg-color{
    background-color: rgba(28, 30, 83, 1);
}
.display-flex{
    display: flex;
}
body{
    margin: 0;
} 




                   /* Header Section Style*/


/* Navbar section style */
.container{
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}                  
.container .logo>h2{
   font-size: 2.1rem;
   font-weight: 700;
   color: white;
} 
nav{
  margin-right: -340px;
}
.nav-list{
   gap: 38px;
}
.nav-item{
   list-style: none;
} 
#main-nav-item{
   color: white;
}
.nav-link{
   text-decoration: none;
   color: rgba(187, 187, 203, 1);
}   
.contact-button{
   color: white;
   font-size: 1rem;
   font-weight: 500;
   border: 2px solid rgba(244, 246, 252, 0.37);
   margin-left: 35px;
   padding: 0px 50px;
   border-radius: 41px;
}  
.contact-button:hover{
  background-color: aquamarine;
  color: black;
  padding: 1px 55px;
  font-size: 1.01rem;
} 
.menu-btn i{
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  display: none;
  margin: 0;
  padding: 0;
}
#click{
  display: none;
}



  
 /* Banner section style */
 .banner{
    max-width: 1280px;
    margin: 0 auto;
  }
  .banner-container{
    padding-top: 70px;
    padding-bottom: 150px;
    gap: 40px;
 
  }
  
 .hero-text {
    max-width: 582px;
 }
 
 .hero-text h1 {
    font-size: 3.3rem;
    font-weight: 600;
    color: white;
 }
 
 .hero-text p {
    font-size: 1rem;
    font-weight: 500;
    color: #c6c5c5;
 }
 .hero-buttons{
    margin-top: 35px;
 }
 .btn-primary{
    padding: 11px 40px;
    margin-right: 25px;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: Manrope;
    text-decoration: none;
    color: #1c1f4a;
    background-color: #FCD980;
    border: none;
    border-radius: 25px;
    /* transition: transform 2s; */
 }
 .btn-primary:hover{
    background-color: aquamarine;
    color: black;
 }
 
 .btn-secondary{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1rem;
 }
 .btn-secondary:hover{
    font-size: 1.1rem;
 }
 
 .hero-image {
    max-width: 683px;
    margin-top: 90px;
 }
 
 .hero-image img {
    width: 100%;
    max-height: 320px;
 }


                    /* Main Section Style*/


/* Work Section Style */
.how-we-work{
    background-color: #F4F6FC;
    gap: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 }
 .work-container{
    max-width: 1280px;
    margin: 0 auto;
    gap: 40px;
    background-color: #F4F6FC;
    padding-bottom: 150px;
 }
 .work-left {
    max-width: 405px;
    height: 184px;
    margin-top: 80px;
 } 
 .work-left h2 {
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 600;
    color: #282938;
    margin-bottom: 20px;
 }
 .work-left p {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    color: #282938;
    opacity: 70%;
    margin-bottom: 20px;
 }
 .work-left a {
    color: #2405F2;
    text-decoration: none;
    font-family: Poppins;
    font-size: 1.1rem;
    font-weight: 500;
 }
 .work-right {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 100px;
    margin-left: 50px;
 }
 .work-step{
    color: #7f85ab;
    max-width: 328px;
    max-height: 178px;
    padding: 25px 5px;
    border-radius: 5px;
 }
 .work-step h3{
     font-family: Poppins;
     font-size: 2.12rem;
     font-weight: 500;
     color: #282938;
     margin: 12px 0;
 }
 .work-step p{
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(40, 41, 56, 1);
 }
 


 /* Project section style */
 

 .project-heading{
    /* max-width: 1280px;
    margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
 
 }
 .project-titel{
    font-size: 3rem;
    font-weight: 600;
    color: rgba(40, 41, 56, 1);
 }
 .project-bar{
    font-size: 1rem;
    align-items: center;
    font-weight: 500;
    color: rgba(40, 41, 56, 1);
 }
 .full-project{
    max-width: 1280px;
    margin: 0 auto;
 }
 .view-project{
 
    display: flex;
    gap: 30px;
 }
 
 .project-bg-img{
    width: 843px;
    height: 600px;
    background-image: url(Images/Card.jpg);
    background-repeat: no-repeat;
 }
 .project-bg-pink-img{
    max-width: 396px;
    height: 600px;
    background-image: url(Images/Rectangle\ 1316.png);
    background-repeat: no-repeat;
 }
 .pink-project-details{
    padding-top: 300px;
    padding-left: 40px;
 }
 .pink-titel{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
 }
 .pimk-description{
    font-size: 1rem;
    font-weight: 500;
    /* line-height: 28px; */
    color: white;
 }
 .pink-bar{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(252, 217, 128, 1);
    /* align-items: center; */
 }
 .pink-bar-icon{
    padding-left: 15px;
 }
 
 .side-box1{
    max-width: 405px;
    height: 284px;
    background-image: url(Images/Rectangle\ 1313.jpg);
 }
 .side-pink-box{
    max-width: 405px;
    height: 284px;
    background-image: url(Images/Rectangle\ 1317.png);
 }
 .side-pink-box-details{
    padding-left: 48px;
    padding-top: 85px;
 }
 .side-box-titel{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
 }
 .side-box-barr{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(252, 217, 128, 1);
 }
 .side-box2{
    max-width: 405px;
    height: 284px;
 }
 .side-box2 > img{
    width: 100%;
 }


 /* Features section style */

 .Features{
   background-color: rgba(244, 246, 252, 1);
 }
 .Features-headding{
   max-width: 630px;
   margin: 0 auto;
   padding-top: 100px;
   text-align: center;
 }
 .Features-head-name{
   font-size: 1rem;
   font-weight: 500;
   color: rgba(40, 41, 56, 1);
 }
 .Features-titel{
   font-size: 3rem;
   font-weight: 600;
   color: rgba(40, 41, 56, 1);
 }
 .Features-boxes{
   max-width: 1280px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   padding-bottom: 100px;
 }
 .Feature-box{
   max-width: 405px;
   height: 316px;
   background-color: rgba(255, 255, 255, 1);
   border-radius: 10px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease;
 }
 .Feature-box:hover{
   transform: translateY(-5px);
 }
 .Feature-box-detail{
   padding: 35px;
 }
 .Feature-box-titel{
   font-size: 1.5rem;
   font-weight: 500;
   color: rgba(40, 41, 56, 1);
 }
 .Feature-box-discription{
   font-size: 1rem;
   font-weight: 400;
   color: rgba(40, 41, 56, 1);
 }



 /* clients-review section style */

 .clients-review{
   max-width: 99%;
   height: 506px;
   margin: 0 auto;
   background-color: rgba(244, 246, 252, 1);
   border: 1px solid rgba(0, 0, 0, 0.2);
 }
 .clients-review-boxes{
   max-width: 1280px;
   margin: 0 auto;
   gap: 100px;
   display: flex;
 }
 .clients-review-box1{
   max-width: 327px;
   height: 184px;
   padding-top: 100px;
 }
 .client-box1-titel{
   font-size: 2.3rem;
   font-weight: 600;
 }
 .client-box1-description{
   font-size: 1rem;
   font-weight: 400;
 }
 .clients-review-box2{
   max-width: 843px;
   height: 248px;
   padding-top: 100px;
 }
 .client-box2-review{
   font-size: 2rem;
   font-weight: 500;
 }
 .client-profile{
   display: flex;
   align-items: center;
 }
 .client-profile-detail{
   max-width: 249px;
 }
 .client-profile-img{
   max-width: 52px;
   height: 52px;
 }
 .client-name{
   font-size: 1.1rem;
   font-weight: 500;
   color: rgba(40, 41, 56, 1);
   padding-left: 20px;
   margin: 10px;
 }
 .client-profetion{
   font-size: 0.8rem;
   font-weight: 500;
   color: rgba(40, 41, 56, 1);
   padding-left: 20px;
   margin: 10px;
 }
 
 

 /* Frequently-section style */
 .faq-section {
   display: flex;
   max-width: 1280px;
   margin: 10px auto;
 }
 .faq-header {
   max-width: 328px;
 }
 .faq-header h2 {
   font-size: 2.4rem;
   font-weight: 600;
   color: #282938;
 }
 .faq-header a {
   font-size: 1.1rem;
   color: #2405F2;
   text-decoration: none;
 }
 .faq-items {
   max-width: 846px;
   padding-left: 85px;
 }
 .faq-item {
   border-bottom: 1px solid #ddd;
 }
 .faq-question {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 0;
   cursor: pointer;
 }
 .faq-question span {
   color: #2405F2;
   font-weight: 500;
   font-size: 1.25rem;
 }
 .faq-question h3 {
   flex: 1;
   font-size: 1.37rem;
   font-weight: 500;
   margin: 0 10px;
   color: #282938;
 }
 .faq-question .toggle {
   font-size: 1.12rem;
   color: #6C63FF;
 }
 .faq-answer {
   padding: 10px 0 15px;
   display: none;
   color: #555;
   font-size: 0.9rem;
 }
 .faq-answer p{
   font-size: 1.12rem;
   font-weight: 400;
 }
 .faq-question.active + .faq-answer {
   display: block;
 }


 /* Building-section style */

 .Building-section{
   display: flex;
   flex-direction: row;
   max-width: 1280px;
   margin: 0 auto;
 }
 
 .left-section {
   max-width: 42%;
   height: 530px;
   background: url(Images/lap.jpg);
   background-repeat:no-repeat ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 60px;
 }
 
 .left-section-bg > h1 {
   font-size: 3.1rem;
   font-weight: 500;
   line-height: 64px;
   margin-bottom: 20px;
   color: rgba(255, 255, 255, 1);
 }
 
 .left-section-bg > p {
   font-size: 1rem;
   max-width: 440px;
   color: rgba(255, 255, 255, 1);
 }
 
 .right-section {
   max-width: 55%;
   height: 550px;
   background-color: #1C1E53;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 50px;

 }
 
 .right-section h2 {
   font-size: 2rem;
   font-weight: 500;
   line-height: 18px;
 }
 
 .right-section p {
   font-size: 1rem;
   font-weight: 400;
   line-height: 28px;
 }
 
 form {
   display: flex;
   flex-direction: column;
 }
 

 form input {
   padding: 15px;
   margin-bottom: 20px;
   border: 1.5px solid #FFFFFF0D;
   color: rgba(244, 246, 252, 1);
   border-radius: 5px;
   font-size: 1.1rem;
   background-color: #1C1E53;
   font-weight: 400;
 }
 
 form button {
   background-color: #FCD980;
   color: #1A2240;
   border: 1.5px solid #FFFFFF0D;
   padding: 12px;
   border-radius: 55px;
   font-size: 1.2rem;
   font-weight: 500;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }
 
 form button:hover {
   background-color:#b49d1a;
 }
 
 .contact-link {
   color: #FFFFFF;
   font-family: Poppins;
   font-size: 1.1rem;
   font-weight: 500;
   margin-top: 20px;
   display: inline-block;
   text-decoration: none;

   text-align: center;
 }
 
 .contact-link:hover {
   color: #d0b51e;
 }



 /* Blog section style */

 .blog-section {
   max-width: 1280px;
   margin: 0 auto;
 }
 .blog-section-titel h1{
   font-size: 3rem;
   font-weight: 600;
   color: #282938;
 }
 .blog-cards {
   max-width: 1280px;
   display: flex;
   justify-content:space-between;
 }
 .blog-card {
   max-width: 405px;
   background-color: #fff;
   overflow: hidden;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   text-align: left;
 }
 .blog-card img {
   width: 100%;
   height: auto;
 }
 .blog-content {
   padding: 20px;
 }
 .blog-content .date {
   font-size: 1rem;
   font-weight: 500;
   line-height: 28px;
   color: rgba(40, 41, 56, 1);
   margin-bottom: 10px;
 }
 .blog-content h2 {
   font-size: 1.5rem;
   font-weight: 400;
   line-height: 33px;
   color: #282938;
 }
 .blog-content p {
   font-size: 1rem;
   font-weight: 400;
   line-height: 23px;
   color: #282938;
 }
 .read-more {
   text-decoration: none;
   font-size: 1rem;
   font-weight: 500;
   line-height: 28px;
   color: #282938;
   transition: color 0.3s ease;
 }
 .read-more:hover {
   color: #0056b3;
 }



                 /* Footer section Style-Desing */

  /* footer banner section  style */
  .footer {
    width: 100%;
  }
  .footer-blue-box{
    background-color: #1C1E53;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1280px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .footer-left {
    color: #ffffff;
    margin-top: 3px;
  }
  .footer-right {
    flex: 1;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 150px;
  }
  .footer-left h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 15px;
  }
  .footer-right h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 15px;
  }
  .footer-left p{
    max-width: 399px;
    opacity: 80%;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
  }
  .footer-right p {
    max-width: 399px;
    opacity: 80%;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }
  .contact-box {
    max-width: 517px;
    background-color: #FCD980;
    display: flex;
    justify-content: space-between;
    padding: 17px 137px 16px 37px;
    margin-top: 90px;
  }
  .contact-item h3 {
    font-size: 1.12rem;
    font-weight: 500;
    line-height: 22px;
    color: #282938;
  }
  .contact-item p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    color: #282938;
  }
  .contact-item2{
    margin-left: 40px;
  }
  .footer-right .social-icons {
    margin-top: 20px;
  }
  .footer-right .social-icons a {
    margin-right: 20px;
    display: inline-block;
  }
  .footer-right .social-icons img {
    max-width: 25px;
    height: 25px;
    color: #FFFFFF;
  }
  .social-icons img:hover{
    transform: translateY(-3px);
  }



  /* footer navbar section style */

  footer{
    max-width: 1280px;
    margin: 0 auto;
  }
  .footer-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    background-color: #ffffff;
    color: #333333;
    margin: 0 auto;
    border-top: 1px solid #ddd;
  }
  
  .footer-bottom-container p {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 65px;
    color: rgba(40, 41, 56, 1);
    
  }
  .creadit{
    margin: 0;
    font-size: 0.5rem;
    font-weight: 500;
    line-height: 80px;
    color: rgba(40, 41, 56, 1);
    text-decoration: none;
  }
  .creadit > a{
    text-decoration: none;
    color: rgba(36, 5, 242, 1);
    font-size: 1.3rem;
  }
  .footer-nav {
    display: flex;
    gap: 25px;
    margin-right: -0px;
  }
  
  .footer-nav a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
    color: rgba(40, 41, 56, 1);
    transition: color 0.3s ease;
  }
  
  .footer-nav a:hover {
    color: #1d6dc2;
  }





























 @media screen and (max-width: 576px){

 
.nav-list, 
.navbar, 
.work-container, 
.Building-section,
.faq-section{
flex-direction: column;
}
.container{
  width: 96%;
  margin: 0 auto;
}
.container .logo>h2{
  margin-left: 1px;
  font-size: 1.3rem;
  font-weight: 600;
} 
nav{
  margin-right: -5px;
}
nav ul{
  position: fixed;
  top: 65px;
  left: -100%;
  background-color: rgb(143, 60, 168);
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  /* display: block; */
  text-align: center;
  margin: 0;
  padding: 0;
}
#click:checked ~ ul{
  left: 0;
}
nav ul li{
  margin: 10px 0;
}
nav ul li a{
  font-size: 1.3rem;
  font-weight: 600;
  /* display: block; */
}
nav ul li a:hover{
  color: rgb(5, 242, 250);
  background: none;
}
.contact-button{
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
  border: 2px solid rgba(244, 246, 252, 0.37);
  padding: 5px 18px;
  border-radius: 41px;
}  
.contact-button:hover{
  background-color: aquamarine;
  color: black;
  padding: 4px 17px;
  font-size: 0.7rem;
  margin-right: 27px;
} 
.menu-btn i{
  display: block;
  margin-right: 3px;
}

.banner{
max-width: 96%;
}
.banner-container{
padding-top: 6px;
padding-bottom: 22px;
gap: 10px;
}       
.hero-text {
    max-width: 55%;
 }
 
 .hero-text h1 {
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
 }
 .hero-text p {
    font-size: 0.5rem;
    font-weight: 400;
 }
 .hero-buttons{
    margin-top: 0px;
 }
 .btn-primary{
    padding: 3px 8px;
    margin-right: 3px;
    font-size: 0.5rem;
    font-weight: 600;
    border-radius: 25px;
 }
 .btn-secondary{
    font-weight: 400;
    font-size: 0.5rem;
 }
 .btn-secondary:hover{
  font-weight: 400;
  font-size: 0.6rem;
 }
 .pink-bar-icon{
    max-width: 15px;
    margin-left: -12px;
 }
 .hero-image {
    max-width: 42%;
    margin-top: 12px;
 }
 .hero-image img {
    width: 100%;
 }
 .work-container{
  text-align: center;
  width: 96%;
  margin: 0 auto;
  gap: 10px;
  padding-bottom: 40px;
}
.how-we-work{
  gap: 5px;
}
.work-left h2 {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.work-left p {
  width: 80%;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 13px;
}
.work-left a {
  font-size: 0.9rem;
  font-weight: 500;
}
.work-right {
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
  margin: 0 auto;
}
/* .work-step{
  color: #7f85ab;
  max-width: 328px;
  max-height: 178px;
  padding: 25px 5px;
  border-radius: 5px;
}
.work-step h3{
   font-family: Poppins;
   font-size: 2.12rem;
   font-weight: 500;
   color: #282938;
   margin: 12px 0;
}
.work-step p{
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(40, 41, 56, 1);
} */



 .work-left{
   margin: 0;
 }
 .full-project{
  width: 96%;
  margin: 0 auto;
 }
 .pro-titel{
    font-size: 1.3rem;
    font-weight: 500;
 }
 .project-titel{
    font-size: 1.6rem;
 }
 .project-bar{
    font-size: 0.5rem;
    align-items: center;
    margin: 0;
 }
 .arrow-img{
    width: 17%;
 }
 .view-project{
    flex-direction: column;
    margin: 0 auto;
    /* padding: 10px; */
 }
 .project-bg-img{
    width: 100%;
    height: 380px;
 }
 .project-bg-pink-img{
    width: 60%;
    height: 380px;
 }
 .pink-project-details{
    padding-top: 120px;
    padding-left: 10px;
 }
 .pink-titel{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
 }
 .pimk-description{
    font-size: 0.7rem;
    font-weight: 400;
    color: white;
 }
 .pink-bar{
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(252, 217, 128, 1);
 }
 .side-coloum-box{
   padding-top: 30px;
 }
 .side-box1{
   margin-bottom: 20px;
 }
 .side-box2{
    margin-bottom: 35px;
 }
 .Features{
  width: 96%;
  margin: 0 auto;
 }
 .Features-headding{
   padding: 15px;
 }
 .Features-titel{
   font-size: 1.3rem;
   font-weight: 600;
 }
 .Features-boxes{
   display: flex;
   flex-direction: column;
   padding: 15px;
 }
 .clients-review{
   max-width: 96%;
   border: 1px solid rgba(0, 0, 0, 0.2);
   height: 100%;
   margin: 0 auto;
 }
 .clients-review-boxes{
   flex-direction: column;
   gap: 0px;

 }
 .clients-review-box1{
   padding-top: 30px;
   text-align: center;
   margin: 0 auto;
   height: 140px;
   
 }
 .client-box1-titel{
   font-size: 1.6rem;
   padding: 0;
   margin: 0;
 }
 .client-box1-description{
   font-size: 0.8rem;
   padding: 0;
   margin: 0;
 }
 .clients-review-box2{
    padding: 30px;
   /* text-align: center;
   margin: 0 auto; */
 }
 .client-box2-review{
   font-size: 1.3rem;
   margin: 0;
 }
 .faq-section{
   width: 96%;
   text-align: center;
   margin: 0 auto;
   padding-bottom: 20px;
 }
 .faq-header{
   text-align: center;
   margin:0 auto;
   padding-top: 25px;
 }
 .faq-header h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}
.faq-header a {
  font-size: 1rem;
}
 .faq-items {
   margin-top: 50px;
   padding-left: 1px;
 }
 .faq-question span {
   font-size: 1rem;
 }
 .faq-question h3 {
   flex: 1;
   font-size: 1rem;
   font-weight: 400;
 }
 .faq-question .toggle {
   font-size: 1rem;
   color: #6C63FF;
 }
 .faq-answer {
   padding: 10px 0 15px;
   display: none;
   color: #555;
   font-size: 0.8rem;
 }
 .faq-answer p{
   font-size:0.8rem;
   font-weight: 400;
 }
 .Building-section{
  width: 96%;
  margin: 0 auto;
 }
 .left-section {
   max-width: 98%;
   margin: 0 auto;
   padding: 20px;
 }
 .right-section {
   max-width: 98%;
   margin: 0 auto;
   padding: 20px;
 }
 .Blog{
  width: 96%;
  margin: 0 auto;
 }
 .blog-cards{
   flex-direction: column;
 }
 .blog-section-titel h1{
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}
 .blog-section h1{
   margin-left: 10px;
 }
 .blog-card{
   margin-top: 30px;
 }
 .footer{
  width: 96%;
  margin: 0 auto;
 }
 .footer-container {
  flex-direction: column;
 }
 .contact-box {
  max-width: 70%;
  flex-direction: column;
  padding: 5px 1px 15px 20px;
  margin-top: 45px;
}
.contact-item2{
  margin-left: 0;
}
.footer-left{
  /* margin-top: 30px; */
  margin-left: 15px;
}
.footer-right {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.footer-bottom-container{
  flex-direction: column;
}
.footer-bottom-container p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 30px;
}
.creadit{
  padding-bottom: 3px;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 2px;

}
.creadit > a{
  text-decoration: none;
  color: rgba(36, 5, 242, 1);
  font-size: 1rem;
}
.footer-nav{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-nav {
  gap: 15px;
  margin-bottom: 15px;
}
.footer-nav a {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
}
 

 }
 